.list {
    z-index: 0;
    justify-content: center;
    align-items: center;
    gap: 40px 60px;
    width: 100%;
    padding: 60px 170px;
    font-family:
            Roboto,
            -apple-system,
            Helvetica,
            sans-serif;
    display: flex;
    position: relative;
    overflow: hidden;
}

.heading {
    z-index: 0;
    color: #000;
    flex: 1;
    align-self: stretch;
    min-width: 240px;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
}

.notificationContainer {
    z-index: 0;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-self: stretch;
    align-items: stretch;
    min-width: 240px;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: 400;
    display: flex;
}


.row {
    justify-content: start;
    align-items: stretch;
    gap: 40px;
    width: 100%;
    display: flex;
}

.item {
    flex: 1;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 100%;
    min-width: 240px;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    position: relative;
}

.frame {
    z-index: 0;
    color: #000;
    white-space: nowrap;
    text-align: center;
    background-color: #0000000d;
    border-radius: 30px;
    align-self: stretch;
    width: 60px;
    height: 60px;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 11px;
    padding-right: 11px;
    font-size: 38px;
    line-height: 1.6;
}

.content {
    z-index: 0;
    flex: 22px;
    align-self: stretch;
    min-width: 240px;
    margin-top: auto;
    margin-bottom: auto;
}

.title {
    color: #000;
    font-size: 20px;
    line-height: 1.4;
}

.subtitle {
    color: #000;
    font-size: 16px;
}

.notificationImage {
    aspect-ratio: 500;
    object-fit: contain;
    object-position: center;
    z-index: 0;
    align-self: start;
    width: 520px;
    min-width: 240px;
    height: 0;
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
}


.backgroundImage {
    object-fit: contain;
    object-position: center;
    z-index: 0;
    align-self: start;
    width: 1440px;
    min-width: 240px;
    height: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.avatar {
    z-index: 0;
    background-color: #d9d9d980;
    border-radius: 50px;
    flex-shrink: 0;
    align-self: stretch;
    width: 100px;
    height: 100px;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
}

.container {
    z-index: 0;
    flex: 1;
    align-self: stretch;
    min-width: 240px;
    margin-top: auto;
    margin-bottom: auto;
}

@media (width<=991px) {
    .container {
        max-width: 100%;
    }
}

.title {
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
}

@media (width<=991px) {
    .title {
        max-width: 100%;
    }
}

.selection {
    gap: 6px;
    width: 100%;
    min-height: 20px;
    margin-top: 12px;
    display: flex;
}

@media (width<=991px) {
    .selection {
        max-width: 100%;
    }
}

.description {
    margin-top: 12px;
    font-size: 16px;
    font-weight: 400;
}

@media (width<=991px) {
    .description {
        max-width: 100%;
    }
}

.button {
    z-index: 0;
    align-self: stretch;
    width: 160px;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 16px;
    font-weight: 500;
    overflow: hidden;
}

.seconday {
    background-color: #27ae60;
    border: 1px solid #f5f5f5;
    border-radius: 8px;
    width: 160px;
    max-width: 100%;
    padding: 12px;
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    cursor: pointer;
}

.img {
    object-fit: contain;
    object-position: center;
    z-index: 0;
    align-self: start;
    width: 1440px;
    min-width: 240px;
    height: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

@media (width<=991px) {
    .img {
        max-width: 100%;
    }
}
.section {
    z-index: 0;
    color: #f5f5f5;
    background-color: #2b5d9f;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 100%;
    padding: 60px 170px;
    font-family:
            Roboto,
            -apple-system,
            Helvetica,
            sans-serif;
    display: flex;
    position: relative;
    overflow: hidden;
}
